<h1>My Groups</h1>

<h2>Search for groups</h2>
<div class="container">
    <input type="text" class="form-control" id="search_input" placeholder="Search" />
</div>



<ul class="groups">
  <%= render @groups %>
</ul>


<% if @groups.empty? %>
  <h2>You have no groups. <%= link_to "Find some groups to get started!", search_groups_path %></h2>
<% else %>
  <h2><%= link_to "Find more groups", search_groups_path %></h2>
<% end %>
