<h1>Contact</h1>
<div class='container'>
  <div class="row">
    <div class="col-md-4">
      <h2>Jack Li '16</h2>
      <img src="assets/Doge.jpeg" alt="Image" class="img-rounded contact-pic" width="150" height="150">
      <p>The creator of this site</p>
      <p class="contact-email">Email: <a href="mailto:jack.li@sfuhs.org" class="email-link">jack.li@sfuhs.org</a></p>
    </div>
    <div class="col-md-4">
      <h2>Albert Boyle</h2>
      <img src="assets/Doge.jpeg" alt="Image" class="img-rounded contact-pic" width="150" height="150">
      <p>UHS Director of Technology</p>
      <p class="contact-email">Email: <a href="mailto:albert.boyle@sfuhs.org" class="email-link">albert.boyle@sfuhs.org</a></p>
    </div>
  </div>
</div>
